---
layout: default-nocompress
format: post
---
<main class="container stack" style="margin-block: var(--space-12);">
	<article class="stack" itemscope itemtype="http://schema.org/Article">
		{% if page.image.title or page.subheadline or page.title %}
		<header>
			{% if page.image.title %}
			<figure>
				<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

				{% if page.image.caption_url and page.image.caption %}
				<figcaption class="text-right">
					<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
				</figcaption>
				{% elsif page.image.caption %}
				<figcaption class="text-right">
					{{ page.image.caption }}
				</figcaption>
				{% endif %}
			</figure>
			{% endif %}

			{% if page.subheadline or page.title %}
			<div itemprop="name">
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
			</div>
			{% endif %}
		</header>
		{% endif %}

		{% if page.teaser %}
		<p class="teaser" itemprop="description">
			{{ page.teaser }}
		</p>
		{% endif %}

		<div itemprop="articleSection">
		{{ content }}
		</div>
	</article>
</main>
